:root {
  --border-radius: 1rem;
  --modal-width: 70%;
  --color-primary: #dcd5be;
  --color-secondary: #30231f;
  --color-light: #eff1f2;
  --color-dark: #333434;
  --color-success: #77ba71;
  --color-success-hover: #add0aa;
  --color-warning: #eba550;
  --color-danger: #ec4a3e;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
input {
  margin: 0;
}

body {
  margin: 0;
  padding: 4rem;
}

/* FLEX */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.gap {
  gap: 2rem;
}

.app__title {
  font-size: 4rem;
  text-align: center;
}

.app {
  padding-top: 4rem;
}

/* BOOK CARDS */

.book__container {
  flex-wrap: wrap;
}

.book__card {
  width: 100%;
  padding: 2rem;
  border-radius: var(--border-radius);
  background: var(--color-secondary);
}

.btn--card__read {
  color: var(--color-light);
  margin-top: 4rem;
}

.btn--card__remove {
  margin-top: 1rem;
  color: var(--color-light);
  background: var(--color-danger);
}

.book__title {
  font-size: 2rem;
  color: var(--color-light);
}

.book__author {
  font-style: italic;
  font-size: 1.4rem;
  color: var(--color-light);
  padding-top: 1rem;
}

.book__pages {
  padding-top: 2rem;
  font-weight: bold;
  color: var(--color-light);
  font-size: 1.2rem;
  text-align: right;
}

/* MODAL */
.modal__container {
  backdrop-filter: blur(2px);
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
}

.modal {
  align-items: center;
  background: var(--color-primary);
  padding: 4rem 2rem;
  border-radius: var(--border-radius);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(80% - 4rem);
}

input[type="text"],
input[type="number"] {
  padding: 1rem;
  border-radius: calc(var(--border-radius) - 0.5rem);
  border: none;
  width: var(--modal-width);
}

.read-status__container {
  padding: 1rem;
  width: calc(var(--modal-width) + 2rem);
  justify-content: space-between;
}

input[name="read-status"] {
  width: 2rem;
}

label {
  font-size: 1.4rem;
}

.modal__submit {
  width: calc(var(--modal-width) + 2rem);
  color: white;
  background: var(--color-success);
}

.modal__submit:hover {
  background: var(--color-success-hover);
}

.btn {
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  padding: 1rem;
}

.hidden {
  display: none;
}

.read-true {
  background: var(--color-success);
}
.read-false {
  background: var(--color-warning);
}
